html,
body {
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
    background: white;
}

*{
    text-decoration: none;
}

body{
    display: grid;
    grid-gap: 5px;
    height: 100%;
    padding: 0% 4% 0% 4%;
    /* font-family:50%; */
}

.headiv {
    background: white;
    position: relative;
}

.headt {
    display: flex;
    position: relative;
    background: white;
    border: solid 1px white;
    border-radius: 16px;
    height: 60%;
}

.menu {
    display: flex;
    position: absolute;
    align-items: center;
    top: 4px;
    height: 50px;
}

.logo {
    order: solid 3px #181818;
    color: #181818;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    height: 60px;
    width: 200px;
    margin-right: -100px;
    top: -37px;
    right: 15px;
}

html body header table tbody tr td h1.logo a.button1 img {
    height: 100%;
    width: 100%;
    position: absolute;
    border: solid 2px #181818;
    border-radius: 16px;
    left: 5%;
    top: -18.25px;
}


.logo:hover {
    display: flex;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.button1 {
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    margin: 10px;
}

ul {
    list-style-type: none;
    
}

li {
    padding: 0px;
    list-style-type: none;
    
}

.button {
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    margin: 10px;
    text-transform: uppercase;
}

.button:hover {
    color: #53e3a6;
}
.button1:hover {
    color: #53e3a6;
}

#menu-inscrp {
    list-style: none;
    
}

#menu-inscrp ul {
    list-style: none;
    text-align: left;
    display: block;
    position: absolute;
    width: 150px;
    margin-left: -59px;
    height: 150px;
    
}

#menu-inscrp li li {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    border-radius: 16px;
    margin: 1%;
    background: white;
}

#menu-inscrp a {
    text-align: left;
    color: black;
    display: table;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

#menu-inscrp a:hover ~ .MenuInscrp {
    z-index: 1;
}

.MenuInscrp:hover {
    z-index: 1;
    
}

.MenuInscrp {
    padding: 2px;
    position: relative;
    background: white;
    text-align: left;
    border: solid 3px #53e3a6;
    border-radius: 16px;
    display: flex;
    z-index: -10;
    justify-content: center;
    border-top-style: unset;
}


.MenuInscrp1{
    right: 16.9%;
}

.tab2{
    right: -8.5%;
}

.tab3{
    right: 20.5%;
}


#menu-inscrp a:hover {
    color: #53e3a6;
}

#menu-inscrp ul li a,
#menu-inscrp li:hover li a {
    background: white;
    margin: 1%;
    width: 84%;
    color: black;
    border-radius: 16px;
}

#menu-inscrp ul li a,
#menu-inscrp li:hover li a:hover {
    color: #53e3a6;
    background: white;
}

#menu-inscrp ul li:hover {
    background: white;
    color: #53e3a6;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}

#menu-inscrp li:hover li {
    max-height: 100%;
    width: 100%;
    background: white;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

ul li .nav {
    margin-left: 30px;
    font-size: 0px;
}

footer {
    text-align: center;
    border: solid 1px white;
    display: flex;
    background: #202020;
    border-top: 1px solid #c3c3c3;
    place-content: center;
    align-items: center;
    border-radius: 16px;
}

.tab {
    list-style: none;
    position: relative;
    border-radius: 16px;
}

.batima {
    background: white;
    color: black;
    font-weight: bold;
    width: 50%;
    border-radius: 16px;
    border: solid 3px #181818;
    margin-left: 25%;
    margin-right: 25%;
}

.batdiv {
    position: relative;
}

.batsghir {
    position: relative;
    display: flex;
}

.salasghira {
    color: black;
    font-weight: bold;
    width: 50%;
    position: relative;
    margin: 0;
    text-align: left;
}

.btnajoutsalle {
    color: #181818;
    font-weight: bold;
    width: 100%;
    position: relative;
    margin: 0;
    text-align: left;
}

.cnx-sub {
    border: solid 3px white;
    color: black;
    font-weight: bold;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background: white;
}

.cnx-sub2 {
    border: solid 3px white;
    color: black;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background: white;
    margin-left: 15%;
    margin-right: 15%;
}

.BigListe{
    right: 42%;
    position: absolute;
}

.cnx-sub:hover {
    border: solid 3px #53e3a6;
    color: #53e3a6;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background: white;
}

.cnx-sub2:hover {
    border: solid 3px #53e3a6;
    color: #53e3a6;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background: white;
}

.inputtype {
    color: #181818;
    border: solid 2px #181818;
    border-radius: 16px;
    text-align: center;
}

.titleliste {
    font-weight: bold;
    width: 25%;
    /* height: 50px; */
    position: relative;
    margin: 3%;
    text-align: center;
    border-radius: 16px;
    background: white;
    border:solid 2px white;
    /* display: flex;
    place-content: center;
    align-items: center; */
}

.btnajoutsalle2 {
    color: #181818;
    font-weight: bold;
}

.batima2 {
    background: white;color: black;
    font-weight: bold;
    border-radius: 16px;
    margin-top: -50px;
}

html body fieldset.batima2 form table.tab tbody tr td.tab {
    position: relative;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    border: solid 1px white;
}

.salasghira2 {
    color: #181818;
    font-weight: bold;
    width: 100%;
    position: relative;
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

label {
    color: black;
}

label:hover {
    color: black;
}

.mom{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    height: 8vw;
}

#first{
    width: 25%;
    position: relative;
}

#second{
    display: grid;
    grid-gap: 1vw;
}

input{
    position: relative;
    background: white;
    border: solid 1px white;
    text-align: center;
    color: black;
}

input:hover {
    border: solid 1px #53e3a6;
    color: black;
}

strong {
    text-transform: uppercase;
}
.prof {
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 20px #53e3a6;
    border-radius: 180px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #53e3a6;
    text-decoration: none;
    text-transform: uppercase;
    left: 225%;

}
.prof2 {
    width: 100px;
    height:  100px;
    font-size: 250%;
    box-shadow: 1px 1px 20px #53e3a6;
    border-radius: 180px;
    transform: translate(-350%,0%)
}

action {
    width: 100px;
    height: 50px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

action::before {
    content: "";
    background-image: conic-gradient(#53e3a6 20deg,
            transparent 120deg);
    width: 250%;
    height: 250%;
    position: absolute;
    /* -webkit-animation: rotate 2s linear infinite; */
    animation: rotate 5s linear infinite;
}

action::after {
    content: 'LeBonChoix';
    width: 90px;
    height: 42px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #53e3a6;
    font-size: larger;
    box-shadow: inset 20px 20px 20px #181818;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.supprof{
    display: flex;
    place-content: center;
    align-content: center;
    position: relative;
    border: solid 1px red;
    /*! transform: translate(50%,0%); */
    width: 100%;
}
.supprof1{
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    display: flex;
    position: relative;
    margin: 5px;
    border: solid 2px green;
    border-radius: 16px;
}
.supprof2{
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    display: flex;
    position: relative;
    margin: 5px;
    border: solid 2px red;
    border-radius: 16px;
}
.supprof1:hover{
    color: #181818;
    border: solid 2px #181818;
    background-color: green;
}
.supprof2:hover{
    color: #181818;
    border: solid 2px #181818;
    background-color: red;
}


.bat{
     color: black;
}


#calendar{
    width: 80%;
    background: white;
    position: relative;
    
}

.hero{
    width: 100%;
    height: 100%;
    border:solid 1px greenyellow;
    position: relative;
    display: flex;
    align-items: center;
    place-content: center;
}


@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* * {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
} */

.container {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    transform:translate(17%,0%);
}

.containerSalle {
    display: flex;
    place-content:center;
    align-items:center;
    flex-direction: column;
}

.card {
    border:solid 2px #53e3a6;
    margin:20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 25%;
    place-content: center;
    align-items: center;
    flex-direction: column;
    padding:0px 5px;
    display: block;
    box-shadow: 0px 5px 20px #555;
}
.card:hover > .card-body {
    height: 100%;
    display: flex;
}


.cardSalle{
    border:solid 2px #53e3a6;
    margin:20px;
    border-radius: 10px;
    overflow: hidden;
    place-content: center;
    align-items: center;
    flex-direction: column;
    padding:0px 50px;
    width: 100%;
    display: flex;
    box-shadow: 0px 5px 20px #555;
    margin:0px 50px 0px -50px;
}

.card-headerSalle{
   flex:1 1 5%;
}
.card-headerSalle img{
    width: 275%;
    height: 430px;
    display: flex;
    border-radius: 10px;
    transform: translate(-50%,0%);
    border:solid 2px #53e3a6;
}

.card-header img {
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

a{
    color: white;
}

.pcard:hover{
    background:white;
}

.pcard:hover > a {
    color: #53e3a6;
}

.pcard{
    display: flex;
    place-content: center;
    background:#53e3a6;
    width: 50%;
    z-index: 0;
    border-radius:10Px;
}

.card-body {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
}

 .card-bodySalle {
    width: 75%;
    border-radius: 10px;
    margin:5px 0px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

 .hna{
   border:solid 1px white;
    border-radius: 10px;
    font-size: 14px;
    margin:5px 0px;
    overflow: hidden;
    flex: 1 1 50%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: black;
    height: 50px;
    background: white;
}
.hnaSalle .h4{
    display: flex;
    width:50%;
}
.hnaSalle .h4{
    border-top:solid 1px #53e3a6;
    border-bottom:solid 1px #53e3a6;
    border-radius: 10px;
    font-size: 14px;
    margin:3px 0px;
    padding:0px 5px;
    color: black;
    min-height: 50px;
    display: flex;
    align-content: center;
    place-content: flex-start;
}
.card:hover > .tag {
    border:solid 1px red;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0px;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.tag-teal {
    background-color: #53e3a6;
}

*{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}


.btnSalleDiv{
    display: flex;
    align-content: center;
    place-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}
.btnSalle{
    border:solid 1px #53e3a6;
    color: white;
    background: #53e3a6;
    padding: 0px 5px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    flex:1 1 25%;
    align-items: center;
    place-content: center;
    margin:5px;
}
.btnSalle:hover{
    color: #53e3a6;
    background: white;
    border:solid 1px #53e3a6;
}
.card-top{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    flex-wrap: wrap;
}




















.containerCnx{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    flex-direction: column;
    padding:5px;
}
.cardCnx{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    flex-direction: column;
    position: relative;
    margin:5px 0px;
}
.cardCnx-header{
    display: flex;
    place-content: center;
    align-content: center;
    width:41.5%;
    background: #53e3a6;
    position: relative;
    color: black;
    margin:10px 0px;
    border-radius:10px;
    transform: translate(71%,0%)
}
.cardCnx-body{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    color:black;
    position: relative;
    margin:10px 0px;
    flex-direction: column;
    flex-wrap: wrap;
}
.cnxlabels{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.labelss{
    border:solid 1px #53e3a6;
    border-radius: 10px;
    font-size: 14px;
    margin:5px 5px;
    overflow: hidden;
    flex: 1 1 35%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: black;
    height: 50px;
}
.cnxlabelss{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.cnxbtns{
    border:solid 1px #53e3a6;
    border-radius: 10px;
    font-size: 14px;
    margin:5px 5px;
    overflow: hidden;
    flex: 1 1 100%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: black;
    height: 50px;
}
.btnbtn{
    background: white;
    color: black;
    width:100%;
    height: 100%;
    place-content: center;
    align-items: center;
    display: flex;
}
.btnbtn:hover{
    background: #53e3a6;
    color: white;
}
#idpseudocnx{
    color:#53e3a6;
    background: white;
    width: 100%;
    height: 100%;
    place-content: center;
    align-items: center;
    display: flex;
}
#idcnx{
    color:black;
    background: white;
    width: 100%;
    height: 100%;
    place-content: center;
    align-items: center;
    display: flex;
}































.containerRank{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    flex-direction: column;
    padding:5px;
}
.cardRank{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    flex-direction: column;
    position: relative;
    margin:5px 0px;
}
.cardHeaderRank{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    background: #53e3a6;
    position: relative;
    color: black;
    margin:10px 0px;
    border-radius:10px;
}
.cardBodyRank{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.hajazayda{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
    border:solid 1px #53e3a6;
}
.cardBodyInnerLil{
    border:solid 1px #53e3a6;
    background: #53e3a6;
    border-radius: 10px;
    font-size: 14px;
    margin:5px 5px;
    overflow: hidden;
    flex: 1 1 15%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: white;
    height: 50px;
}
.cardBodyInnerLil2{
    border-radius: 10px;
    font-size: 14px;
    margin:5px 5px;
    overflow: hidden;
    flex: 1 1 15%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: black;
    height: 50px;
}
.hajazayda:hover {
    background: #53e3a6;
    color: white;
}
.hajazayda:hover > .cardBodyInnerLil2 {
    color: white;
}
a.button:nth-child(2) > .hajazayda:nth-child(1){
    background-color: gold;
}
a.button:nth-child(3) > .hajazayda:nth-child(1){
    background-color: silver;
}
a.button:nth-child(4) > .hajazayda:nth-child(1){
    background-color: #CD7F32;
}















.hajanotzayda:hover {
    background: #53e3a6;
    color: white;
}
.hajanotzayda{
    display: flex;
    width: 200%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
    border:solid 1px #53e3a6;
    transform: translate(-25%,0%)
}
.containerBat{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    flex-direction: column;
    padding:5px;
}
.cardBat{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    flex-direction: column;
    position: relative;
    margin:5px 0px;
}
.cardHeaderBat{
    display: flex;
    place-content: center;
    align-content: center;
    width:100%;
    background: #53e3a6;
    position: relative;
    color: black;
    margin:10px 0px;
    border-radius:10px;
}
.cardBodyBat{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.cardBodyLil{
    border:solid 1px #53e3a6;
    background: #53e3a6;
    border-radius: 10px;
    font-size: 14px;
    margin:5px 5px;
    overflow: hidden;
    flex: 1 1 15%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: white;
    height: 50px;
}
.cardBodyLil2{
    border-radius: 10px;
    font-size: 14px;
    margin:5px 5px;
    overflow: hidden;
    flex: 1 1 15%;
    place-content: center;
    align-items: center;
    display: flex;
    width:110px;
    color: black;
    height: 50px;
}








.momclass{
    display: flex;
    place-content: center;
    align-content: center;
}
.firstclass{
    display: flex;
    place-content: center;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
    transform: translate(0%,15%)
}
.secondclass{
    display: flex;
    place-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius:10px;
    flex:1 1 100%;
    margin:25px;
    height: 50px;
}
.secondclassSup{
    display: flex;
    place-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius:10px;
    flex:1 1 100%;
    margin:25px;
    height: 50px;
    border:solid 1px red;
}
.secondclassSup:hover{
    border:solid 1px red;
    background: red;
    color:white;
}
.thirdclass{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    border-radius: 10px;
    flex:1 1 100%;
    border:solid 1px #53e3a6;
    height: 50px;
    color:black;
}
.thirdclass:hover{
    border:solid 1px #53e3a6;
    background: #53e3a6;
    color:white;
}

.secondclassSup:hover > input:nth-child(2){
    border:solid 1px red;
    background: red;
    color:white;
}

.secondclassPr{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex-wrap: wrap;
    place-content:center;
    align-items:center;
    border-radius: 10px;
    flex:1 1 100%;
    border:solid 1px #53e3a6;
    height: 50px;
    color:black;
}